<div class="back-button-container">
  <button  mat-icon-button routerLink="/">
    <mat-icon >arrow_back</mat-icon>
  </button>
</div>
<div class="upload-container titillium-web-semibold">
  <div class="upload-form">
    <div class="message">Preencha os campos abaixo e selecione o atestado para enviar:</div>
    <div class="text-fields">
      <br>
      <mat-form-field class="mat-input-element mat-form-field titillium-web-semibold">
        <input matInput placeholder="Nome" class="text-input" required>
      </mat-form-field>
      <br>
      <mat-form-field class="mat-input-element mat-form-field titillium-web-semibold">
        <input matInput placeholder="CPF" [(ngModel)]="cpf" cpfMask required>
      </mat-form-field>
      <br>
      <form >
        <mat-form-field class="mat-input-element mat-form-field titillium-web-semibold">
          <mat-label>Celular</mat-label>
          <span matPrefix>+55 &nbsp;</span>
          <input type="tel" matInput placeholder="(00)12345-1234">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </form>
      <br>
      <mat-form-field  class="mat-input-element mat-form-field titillium-web-semibold">
        <mat-label>Setor</mat-label>
        <mat-select>
          <mat-option value="one">TI</mat-option>
          <mat-option value="two">Importação</mat-option>
          <mat-option value="three">Recursos Humano</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="mat-input-element mat-form-field titillium-web-semibold">
        <input matInput [matDatepicker]="picker" placeholder="Escolha uma data">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
    </div>
    <br>
    <input class="mat-input-element mat-form-field titillium-web-semibold" type="file" #fileInput required/>
    <br>
    <br>
    <br>
    <button mat-raised-button (click)="uploadFile(fileInput)" class="upload-button" color="accent">Enviar Arquivo</button>
    <br>
  </div>
</div>
<br>
<!-- <input type="file" (change)="inputFileChange($event)"/> -->

