<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="2:1" class="custom-grid">
    <mat-grid-tile class="grid-item" (click)="navigateToAtestado()">
      <!-- <a href="http://localhost:4200/atestado" class="grid-link"> -->
        <div class="grid-item">Envio de Atestado</div>
      <!-- </a> -->
    </mat-grid-tile>
    <mat-grid-tile class="grid-item" (click)="navigateToFerias()">
      <!-- <a href="http://localhost:4200/ferias" class="grid-link"> -->
        <div class="grid-item">Solicitação de Férias</div>
      <!-- </a> -->
    </mat-grid-tile>
  </mat-grid-list>
</div>
